<div class="publications">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Selected Publications (<a href="/publications/">View All</a>)</h2>
    <a href="https://scholar.google.com/citations?user=EDJSTAcAAAAJ">
      Google Scholar →
    </a>
  </div>
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
